.card_container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 2rem;
    width: 100%;
}
.vcard_container{
    display: flex;
    justify-content: center;
    gap: 10px;
    padding-bottom: 2rem;
    width: 100%;
}
.vcard_first{
    display: flex;
    justify-content: center;
    align-items: center;
}

.first_container {
    display: flex;
    gap: 10px;
}

.second_container {
    display: flex;
    gap: 10px;
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {

.vcard_container{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.vcard_first{
    justify-content: center;
    align-items: center;
}
}
@media only screen and (min-width: 550px) and (max-width: 768px) {
    .card_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        
    }
    .vcard_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .first_container{
        justify-content: space-evenly;
        flex-direction: row;
    }
    .second_container {
        justify-content: space-evenly;
        flex-direction: row;
    }
}

@media only screen and (min-width: 250px) and (max-width: 549px) {
    .card_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }
    .vcard_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .vcard_first{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .first_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .second_container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
   
} 





