.arrival-container {
  display: flex;
  padding: 1rem 10rem;
  white-space: nowrap;
}
.vertical-line {
  border-left: 2px solid #8a33fd;
  padding: 0 10px;
}
@media (min-width: 769px) and (max-width: 1024px) {
  .arrival-container {
    justify-content: start;
  }
}
@media (max-width: 768px) {
  .arrival-container {
    justify-content: center;
    padding-bottom: 2rem;
  }
}
