.card-2-container img {
  width: 230.81px;
  height: auto;
}
.card-2-container h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  padding-top: 10px;
  color: #3c4242;
  background-image: url(./../Assets/right-arrow.png);
  background-repeat: no-repeat;
  background-position-x: 200px;
  background-position-y:18px ;
  
}
.card-2-container p {
  color: #7f7f7f;
  font-size: 13.41px;
  line-height: 27.93px;
  font-weight: 500;
}
.card-2-container button{
  font-weight: 600;
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  font-size: 10px;
  cursor: pointer;
}
@media (min-width:769px){
  .card-2-container img {
    max-width: 180px;
    
  }
  
}
