.card-container-22 {
  position: relative;
  width: 400px;
  display: flex;
  justify-content: center;
}
.card-container-22 img {
  width: 380px;
  height: 350px;
}
.text-container-22 {
  position: absolute;
  top: 90px;
  left: 250px;
  color: #3c4242;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 12px;
  max-width: 111px;
}
.text-container-22 a {
  padding-top: 20px;
  font-weight: 600;
}
.text-container-22 p {
  font-size: 12px;
  font-weight: 600;
}
.card-container-22 button {
  font-weight: 600;
  padding: 8px 18px;
  border-radius: 8px;
  border: none;
  font-size: 10px;
  cursor: pointer;
}

@media (min-width: 250px) and (max-width: 390px) {
  .card-container-22 img {
    max-width: 300px;
  }
  .text-container-22 {
    bottom: 90px;
    left: 230px;
    gap: 4px;
  }
  .text-container-22 a {
    padding-top: 50px;
  }
}
