.saving-card-container {
  position: relative;
  width: 380px;
  display: flex;
  justify-content: center;
}
.saving-card-container img {
  width: 380px;
  height: auto;
}
.saving-text-container {
  position: absolute;
  bottom: 100px;
  left: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 12px;
  max-width: 178px;
  background-image: url(./../Assets//saving-arrow.png);
  background-repeat: no-repeat;
  background-position-x: 40px;
  background-position-y: 140px;
  background-size: 20px;
}
.saving-text-container a {
  padding-top: 80px;
  font-weight: 600;
}
.saving-text-container p {
  font-size: 12px;
  font-weight: 600;
}

@media (min-width: 250px) and (max-width: 390px) {
  .saving-card-container img {
    max-width: 300px;
  }
  .saving-text-container {
    bottom: 90px;
    left: 60px;
    gap: 4px;
    max-width: 18px;
  }
  .saving-card-container {
    white-space: nowrap;
  }
  .saving-text-container a {
    padding-top: 50px;
  }
}

