.carousel {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    height: 500px;
    overflow: hidden;
    
    
  }
  
  .slides-container {
    display: flex;
    transition: transform 0.5s ease-in-out;
    
  }
  
  .slide {
    flex: 0 0 100%;
  }
  
  .slide img {
    width: 100vw;
    height: auto;
  }
  
  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    background: none;
  }
  
  .prev-button {
    left: 10px;
  }
  
  .next-button {
    right: 10px;
  }
  
  .prev-button:hover,
  .next-button:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
  .slider-content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    position: absolute;
    padding-left: 200px;
    padding-top:100px ;
    color: #FFFFFF;
    align-items: start;
    
  }
  .slider-content h2{
    font-weight: 800;
    font-size: 58px;
    max-width: 309px;
  }
  .slider-content p{
    font-weight: 500;
    font-size: 22px;
  }
  .slider-content a{
   padding: 8px 32px;
   background-color:#FFFFFF;
   color: #3C4242;
   border-radius: 8px;
   cursor: pointer;
  }
  @media (max-width:900px){
    .carousel {
      height: 100%;
      
    }
    .slider-content{
      gap: 12px;
      padding-left: 120px;
      padding-top:50px ;
     
      
    }
    .slider-content h2{
      font-weight: 800;
      font-size: 38px;
      
      
    }
    .slider-content p{
      font-weight: 400;
      font-size: 16px;
    }
    .slider-content a{
      padding: 6px 16px;
      
     }
  }
  @media (min-width:300px) and (max-width:590px){
    .slider-content{
      gap: 5px;
      padding-left: 90px;
      padding-top:30px ;
      
      max-width: 200px;
    }
    .slider-content h2{
      font-size: 16px;
     
    }
    .slider-content p{
      font-size: 12px;
    }
    .slider-content a{
      padding: 2px 10px;
      font-size: 10px;
      
     }
  }